<p class="text-center text-muted" *ngIf="!photos.length">Desculpe, fotos não encontradas</p>

<ol class="list-unstyled row text-center">
  <li *ngFor="let cols of rows" class="row no-gutters">
    <div *ngFor="let photo of cols" class="col-4 " bitDarkenOnHover>

      <a [routerLink]="['/p', photo.id]" routerLinkActive="router-link-active" >
        <bit-card [title]="photo.description">
          <bit-photo
            [url]='photo.url'
            [descricao]='photo.descricao'>
          </bit-photo>

          <div class="text-center">
            <p class="fa fa-heart-o fa-1xr mr-2">Likes: {{photo.likes}}</p>
            <p class="fa fa-comment-o fa-1xr mr-2 ml-2">Comentarios: {{photo.comments}}</p>
          </div>
        </bit-card>
      </a>

    </div>
  </li>
</ol>
