<h4 class="text-center mt-4">Login</h4>

<form #form="ngForm" [formGroup]="loginForm" class="form mt-4 mr-5 ml-5" (submit)="login()">

    <div class="form-group">
      <label for="inputUsuario">Nome de Usuario:</label>
      <input
        #nomeDeUsuarioInput
        class="form-control"
        placeholder="Digite seu nome de Usuário..."
        id="inputUsuario"
        autofocus
        formControlName="userName">

      <app-messages-error
      *ngIf="loginForm.get('userName').errors?.required
      && (form.submitted || loginForm.get('userName')?.touched)"
      text="Nome de usuário é obrigatorio!">
    </app-messages-error>
    </div>

    <div class="form-group">
      <label for="inputSenha">Senha:</label>
      <input
      type="password"
      class="form-control"
      placeholder="Digite sua senha..."
      id="inputSenha"
      formControlName="password">



      <app-messages-error
      *ngIf="loginForm.get('password').errors?.required
      && (form.submitted || loginForm.get('password')?.touched)"
      text="Senha é obrigatoria!">
    </app-messages-error>
    </div>

    <button
      type="submit"
      class="btn btn-primary btn-block">
      login
    </button>

</form>

<p class="ml-5">Não é um usuário?<a [routerLink]="['signup']">Registre-se agora!</a></p>
