<header class="fixed-top" style="color: aliceblue;">
  <nav class="navbar navbar-dark bg-dark">
        Joanics Pictures

      <div *ngIf="(user$ | async) as user; else loginPlease">
        <i class="fa fa-user-circle"></i>
        <a class="navbar-text mr-2" >{{user.name}}</a>

        <a (click)="logout()"class="navbar-text ml-2" >
          <i class="fa fa-user"></i>
          Logout
        </a>
      </div>

      <ng-template #loginPlease>
        <span>
          <a class="navbar-text" [routerLink]="['']">Faça Login!</a>
        </span>
      </ng-template>

      <div class="fixed-top">
        <app-loading></app-loading>
        <app-alert></app-alert>
      </div>
  </nav>
</header>
