<h4 class="text-center mt-4"> Registre-se e conheça um novo mundo!</h4>

<form #form="ngForm" [formGroup]="signupForm" class="form mt-4 ml-5 mr-5" (submit)="signup()">

    <div class="form-group">
      <label for="nomeCompleto">Nome Completo:</label>
      <input #nomeCompletoInput id="nomeCompleto" class="form-control" formControlName="fullName" placeholder="Digite seu Nome Completo..." autofocus>
        <!--Nome Completo - Erro 01-->
        <app-messages-error *ngIf=" signupForm.get('fullName').errors?.required && (form.submitted || signupForm.get('fullName').touched)"
          text="Nome Completo é obrigatorio!">
        </app-messages-error>
        <!--Nome Completo - Erro 02-->
        <app-messages-error *ngIf=" signupForm.get('fullName').errors?.minlength"
          text="Nome Completo deve conter mais de dois caracteres!">
        </app-messages-error>
        <!--Nome Completo - Erro 03-->
        <app-messages-error *ngIf=" signupForm.get('fullName').errors?.maxlength"
          text="Nome Completo deve ser inferior à cinquenta caracteres!">
        </app-messages-error>
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input id="email" class="form-control" formControlName="email" placeholder="Digite seu email..." >
        <!--Email - Erro 01-->
        <app-messages-error *ngIf=" signupForm.get('email').errors?.required && (form.submitted || signupForm.get('email').touched)"
          text="Email do usuário é obrigatorio!">
        </app-messages-error>
        <!--Email - Erro 02-->
        <app-messages-error *ngIf=" signupForm.get('email').errors?.email"
          text="Formato inválido, digite um email válido!">
        </app-messages-error>
        <!--Email - Erro 03-->
        <app-messages-error *ngIf=" signupForm.get('email').errors?.email"
          text="exemplo: teste@teste.com">
        </app-messages-error>
    </div>

    <div class="form-group">
      <label for="nomeDeUsuario">Nome de Usuário:</label>
      <input id="nomeDeUsuario" class="form-control" formControlName="userName" placeholder="Digite seu nome de usuário..." >
        <!--Nome de Usuário - Erro 01-->
        <app-messages-error *ngIf=" signupForm.get('userName').errors?.required && (form.submitted || signupForm.get('userName').touched)"
          text="Nome do usuário é obrigatorio!">
        </app-messages-error>
        <!--Nome de Usuário - Erro 02-->
        <app-messages-error *ngIf=" signupForm.get('userName').errors?.minlength"
          text="Nome de usuário deve conter mais de dois caracteres!">
        </app-messages-error>
        <!--Nome de Usuário - Erro 03-->
        <app-messages-error *ngIf=" signupForm.get('userName').errors?.maxlength"
          text="Nome de usuário deve ser inferior à trinta caracteres!">
        </app-messages-error>
        <!--Nome de Usuário - Erro 04-->
        <app-messages-error *ngIf=" signupForm.get('userName').errors?.lowerCase"
          text="Nome de usuário não deve conter letras maiúsculas!">
        </app-messages-error>
        <!--Nome de Usuário - Erro 05-->
        <app-messages-error *ngIf=" signupForm.get('userName').errors?.userNameExists"
          text="Nome de usuário já existe!">
        </app-messages-error>
        <!--Nome de Usuário - Sucesso 01-->
        <app-messages-sucess *ngIf=" signupForm.get('userName').valid"
          text="O Nome de usuário está disponivel!">
        </app-messages-sucess>
        <!--Nome de Usuário - Sucesso 01-->
    </div>

    <div class="form-group">
      <label for="senha">Senha:</label>
      <input id="senha" class="form-control" formControlName="password" type="password" placeholder="Digite sua senha..." >
        <!--Senha - Erro 01-->
        <app-messages-error *ngIf=" signupForm.get('password').errors?.required && (form.submitted || signupForm.get('password').touched)"
          text="Senha do usuário é obrigatoria!">
        </app-messages-error>
        <!--Senha - Erro 02-->
        <app-messages-error *ngIf=" signupForm.get('password').errors?.minlength"
          text="Senha do usuário deve conter pelo menos 8 caracteres!">
        </app-messages-error>
        <!--Senha - Erro 03-->
        <app-messages-error *ngIf=" signupForm.get('password').errors?.maxlength"
          text="Senha do usuário deve conter no máximo 14 caracteres!">
        </app-messages-error>
        <!--Erro no Formulario - Erro 01-->
        <app-messages-error *ngIf=" signupForm?.errors?.userNamePassword"
          text="Senha do usuário deve ser diferente do nome de Usuário!">
        </app-messages-error>
    </div>

    <button class="btn btn-primary btn-block">Cadastrar-se</button>

    <p>Já é um usuário?<a [routerLink]="['']">Sign In!</a></p>
</form>
